.App {
  text-align: center;
  background-color: #121212;
  /* width: 100vw; */
  height: 200vh;
  color: white;

  /* display: flex; */
}

.navbar {
  border-bottom: 1px solid white;
  padding: 10px;
}

.container {
  align-items: center;
  align-content: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
